<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0">
    <title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'http://lib.sinaapp.com/js/bootstrap/2.2.1/css/bootstrap.min.css', 
      'application', 
      "http://lib.sinaapp.com/js/bootstrap/2.2.1/css/bootstrap-responsive.min.css", :media => "all" %>
    <%= yield(:head_css) if content_for?(:head_css) %>
  <style>
      @media (min-width: 1200px) {
        body{padding-top:60px;}
      }

      .brand
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          margin: auto;
      }
  </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="brand">
            <%= content_for :title if content_for :title %>
          </div>
          <ul class="nav">
            <li>
            <%= link_to "Logout", logout_path %>
            </li>
          </ul>
      </div>
    </div>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-block alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:error] %>
          <div class="alert alert-block alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>
    </div>

    <% if content_for?(:root_highlight) %>
    <div class="root-highlight">
      <div class="container">
      <%= yield(:root_highlight) %>
      </div>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div> <!-- /container -->
    
    <div class="footer">
    <hr/>
    <div class="container" style="padding-bottom:10px">
      <footer>
        &copy;2013 EF Labs
      </footer>
    </div> <!-- /container -->
  </div> <!-- end of footer -->
    <%= javascript_include_tag 'http://lib.sinaapp.com/js/jquery/1.9.0/jquery.min.js', 'http://lib.sinaapp.com/js/bootstrap/2.2.1/js/bootstrap.min.js', 'application' %>
    <%= yield(:bottom_js) if content_for?(:bottom_js) %>
  </body>
</html>
